{% extends 'base.html.twig' %}

{% block body %}
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Events</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
       <thead>
        <tr>
          <th>Event Name</th>
          <th>Category</th>
          <th>Day</th>
          <th></th>
        </tr>
       </thead>
       <tbody>
          <tr>
            <td>Event one </td>
            <td>Category one </td>
            <td>Day one </td>
            <td><a class="btn btn-default"
            href="/category/edit/1">Edit</a>
            <a class="btn btn-danger"
            href="/category/delete/1">Delete</a>
            </td>
          </tr>
       </tbody>
      </table>
    </div>
   </div> 
{% endblock %}